.btn {
  width: 300px;
  padding: 15px;
  font-size: inherit;
  color: $text-color;
  background-color: $color-main;
  border: 2px solid $text-color;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $text-color;
    background-color: darken($color-main, 5%);
  }

  &:active {
    background-color: lighten($color-main, 5%);
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: gray;
    background-color: #333333;
  }

  &--modal {
    margin-bottom: 1em;
  }

  &--continue,
  &--end {
    margin-top: 1em;
  }

  &--mod2 {
    display: none;
  }

  &--continue-modal2 {
    margin-top: 1em;
  }
}
