.btn {
  width: 100%;
  padding: 10px;
  font-size: inherit;
  color: $text-color;
  background-color: $color-main;
  border: 2px solid $text-color;
  cursor: pointer;
  user-select: none;

  @media (min-width: $desktop-width) {
    width: 300px;
  }

  &:hover {
    color: $text-color;
    background-color: darken($color-main, 5%);
  }

  &:active {
    background-color: lighten($color-main, 5%);
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: gray;
    background-color: #333333;
  }

  &--enterRate {
    @media (min-width: $desktop-width) {
      width: 300px;
    }
  }

  &--modal {
    margin-bottom: 1rem;
  }

  &--continue,
  &--end {
    margin-top: 1rem;
  }

  &--mod2 {
    display: none;
  }

  &--continue-modal2 {
    margin-top: 1rem;
  }
}
