body {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.start {
  position: relative;
  background-color: #8fb284;
}

.show-cards {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.85;
}

.show-cards__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
  color: #d4d5d6;
}

.game {
  display: none;
  background-color: #407294;
}

#gamePC {
  background-color: chocolate;
}

.info {
  outline: 2px dotted royalblue;
  margin-bottom: 20px;
}

.wrap-btn {
  outline: 2px dotted darkviolet;
}

.wrap-rate {
  outline: 2px dotted green;
  margin-bottom: 20px;
}

.btn-continue,
.btn-end,
.btn-more,
.btn-no {
  width: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-continue {
  background-color: forestgreen;
  display: none;
}

.btn-end {
  background-color: #8b2222;
  display: none;
}

.btn-more {
  background-color: cadetblue;
}

.btn-no {
  background-color: #a0615f;
}

.field-text {
  display: block;
  margin-bottom: 20px;
}

.field-text__name {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.field-text__input-wrap {
  position: relative;
  display: block;
  width: 100%;
}

.field-text__input {
  /*width: 100%;*/
  width: 300px;
  margin-bottom: 2em;
  padding: 0.5em 1em;
  border: 1px solid green;
  border-radius: 10px;

  &:hover {
    border-color: blue;
  }

  &:focus {
    outline: none;
    border: 1px solid blue;
    /*box-shadow: $box-shadow;*/
  }

  &::placeholder {
    color: #cccccc;
  }
}

.field-text__help-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;

  &--error {
    color: red;
  }
}

.distribution {
  outline: 2px dotted darkviolet;
}

.score {
  background-color: dimgray;

  opacity: 0;
}
