.distribution {
  margin-bottom: 1.5rem;
}

.distribution__text {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-decoration: underline;
}

.distribution__card {
  margin-bottom: 0.5rem;
}
