.game {
  display: none;
  height: 60%;
  padding-top: 1.5rem;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 2rem;
  }
}

.game-result__content {
  margin-top: 1rem;
}
