.modal2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
  background-color: black;
  animation: modal__fade 0.2s;

  @media (min-width: $desktop-width) {
    padding: 10rem;
  }

  &--show {
    display: block;
  }
}

.modal2__wrap {


  @media(min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.modal2__text {
  font-size: $font-size--larger;
  line-height: $line-height-auto;

  @media (min-width: $desktop-width) {
    font-size: inherit;
  }

  &--inversion {
    padding: 0.5rem;
    color: $color-main;
    background-color: $text-color;
  }
}
