.site-wrapper {
  width: 100vw;
  padding: 1rem;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding: 3rem;
  }
}
