.wrap-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  @media (min-width: $desktop-width) {
    width: 600px;
  }

  &--modal {
    justify-content: start;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
