//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Press Start 2P", "Arial", sans-serif;

//$font-size-h1: px;
//$font-size-h2: px;
//$font-size-h3: px;
//$font-size-h4: px;
//$font-size-h5: px;
//$font-size-h6: px;

//$font-size--xl-large: px;
//$font-size--x-large: px;
//$font-size--large: px;
$font-size--larger: 1.2em;
$font-size: 10px;
//$font-size--smaller: px;
//$font-size--small: px;

$line-height: 1.2em;
$line-height-auto: 1.5em;

//================
/*Gray and brand colors*/
//================
$color-main: #2c2c2c;

$text-color: #e1e1e1; // Global text color on <body>;

//=============================
//===Components===
//=============================

//=============================
//===Media queries breakpoints===
//=============================
$tablet-width: 660px;
$desktop-width: 960px;

//=============================
//===Retina queries breakpoints===
//=============================
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;

//=============================
//===Animate===
//=============================
$transition-time: 0.2s;
